<h2>{{this.name}}</h2>

<span>
    <form action="/reviews/{{this._id}}/reviews-create" method="post">
        <button type="submit" class="btn btn-danger">Review</button>
    </form> 
</span>

<hr>
<h3>Description</h3>
<p>{{this.description}}</p>
<img class="details-image" src="{{this.imageUrl}}">

{{#if this.reviews}}
    <hr>
    <h3>Review:</h3>
    {{#each this.reviews}}
        <li><b>Comment:</b>
            <ul>
                <li>{{this.comment}}</li>
                <li>{{this.user.username}}</li>
            </ul>
        </li>
    {{/each}}
{{/if}}
<li><b>Owner:</b>
    <ul>
        <li>{{this.owner.username}}</li>
    </ul>
</li>

