<h2>{{this.name}}</h2>

<span>
    <form action="/rooms/{{this._id}}/rooms-delete" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form> 
</span>

<span>
    <form action="/rooms/{{this._id}}/rooms-edit" method="post">
        <button type="submit" class="btn btn-danger">Edit</button>
    </form> 
</span>

<hr>
<h3>Description</h3>
<p>{{this.description}}</p>
<img src="{{this.imageUrl}}">


{{#if this.reviews}}
    <hr>
    <h3>Review:</h3>
    {{#each this.reviews}}
        <li><b>Comment:</b>
            <ul>
                <li>{{this.comment}}</li>
                <li>{{this.user.username}}</li>
            </ul>
        </li>
    {{/each}}
{{/if}}
<li><b>User:</b>
    <ul>
        <li>{{this.owner.username}}</li>
    </ul>
</li>