<h1>Rooms</h1>

<div class="card-grid">
    {{#each rooms}}
    <div class="room-card">
      <div class="room-card-image-container">
        <img src="{{this.imageUrl}}" class="room-card-image" alt="{{this.name}} image">
      </div>
      <h3 class="room-card-text">{{this.name}}</h3>
      <p class="room-card-text">{{this.description}}</font></p>
      <td>
        <a class="btn btn-info room-card-text" href="/rooms/{{this._id}}/rooms-details">Details</a>
      </td>
    </div>
    {{/each}}
</div>